<div id="product_list">
	<h1>Listing users</h1>
	
	<table>
	<% @users.each do |user| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
			<td><%= image_tag(user.image_url, :class => 'list_image') %></td>
		<td class="list_description" >
			<dl>
				<dt><%= user.name %></dt>
				<dd><%= truncate(strip_tags(user.description), :length => 80) %></dd>
			</dl>
		</td>
		<td class="list_actions" >
			<%= link_to 'Show', user %><br/>
			<%= link_to 'Edit', edit_user_path(user) %><br/>
			<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
		</td>
		</tr>
	<% end %>		
	</table>	
</div>

<br />

<%= link_to 'Sign Up', new_user_path %>
